<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/registinicam.css">
</head>
<body>
    <section id="hero">
        <section class="form-register">
            <h4>Cambio De Contraseña</h4>
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese La Contraseña">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Repita La Contraseña?">
            <input class="botons" type="submit" value="Acceptar">
            <input class="botons" type="submit" value="Volver al Inicio">
        </section>
    </section>
</body>
</html>