<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/estinde.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <a href="Index.html" class="logo">
            <img src="../static/img/logo.png" alt="logo de la compañia">
            <h2 class="nombre-compania">Mensajería Electrónica</h2>
        </a>
        <nav>
            
            <a href="/login" class="nav-link" name="incio1" id="inicio1" action="/login" >Iniciar Sesion</a>
            <a href="/register" action="/register" class="nav-link">Registro</a>  
        </nav>
    </header>
    <section id="hero">
        <h1>
          Conoce la Mejor <br> Plataforma De mensajeria
        </h1>
        <a href="/login" action="/login">
            <button >Ingresar a la Sesion</button></a>
      </section>
</body>
<footer class="footer">
    <div class="barrasocial">
        <ul>
            <li><a href="#"><img src="../static/img/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="../static/img/ig.png" alt="Instagram"></a></li>
            <li><a href="#"><img src="..//static/img/wa.png" alt="Whatsapp"></a></li>
            <li><a href="#"><img src="../static/img/you.png" alt="Youtube"></a></li>
        </ul>
    </div>
</footer>
</html>