<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/css/registinicam.css">
</head>

<body>
    <header>
        <a href="/" action="/" class="logo">
            <img src="../static/img/logo.png" alt="logo de la compañia">
            <h2 class="nombre-compania">Mensajería Electrónica</h2>
        </a>
        <nav>
            <a href="/" action="/" class="nav-link">Inicio</a>
            <a href="/register" action="/register" class="nav-link">Registro</a>
        </nav>
    </header>
    <section id="hero">
        <section class="form-register">
            <h4>Inicio De Sesion</h4>
            <form class="form-signin" action="login" method="POST">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
                <button type="submit" class="btn btn-dark btn-block">Iniciar Sesion</button>
                <p><a href="/register" action="/register" name="reg" id="reg">¿No Tengo Una Cuenta?</a></p>
                <p><a href="cambcontra.html">¿Recuperar contraseña?</a></p>
            </form>
        </section>
    </section>
</body>

</html>